.configurator {
  padding: 16px 0;
  border-radius: 12px;
  background-color: #f7fafc;
}

.configurator section {
  margin-top: 12px;
  padding: 0 16px;
}

.configurator section:first-child {
  margin-top: 0;
}

.configurator section > h3,
.configurator section > label {
  display: block;
  font-size: 1.1rem;
  margin: 0;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 8px;
}

.configurator input[type='text'],
.configurator input[type='number'] {
  height: 36px;
  line-height: 36px;
  width: 100%;
  max-width: 420px;
  border: solid 2px #e2e8f0;
  padding-left: 6px;
}

button {
  position: relative;
}

button:after {
  content: '';
  position: absolute;
  left: -5px;
  top: -5px;
  right: -5px;
  bottom: -5px;
  border: 2px solid rgba(5, 130, 202, 0.5); /* Based on Nimiq Light Blue */
  border-radius: 500px;
  opacity: 0;
}

button:focus {
  outline: none;
}

button.focused:after {
  opacity: 1;
}

.colors {
  margin-top: 12px;
  margin-left: 4px;
}

.colors button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 0 none;
  color: transparent;
  margin-right: 12px;
  cursor: pointer;
}

.colors button.neutral {
  background-color: #e2e8f0;
}

.colors button.blue {
  background-color: #1f2348;
}

.colors button.gold {
  background-color: #e9b213;
}

.colors button.light-blue {
  background-color: #0582ca;
}

.colors button.green {
  background-color: #21bca5;
}

.colors button.orange {
  background-color: #fc8702;
}

.colors button.red {
  background-color: #d94432;
}

.preview {
  border-radius: 4px;
  padding: 12px 8px;
  background: #ffffff;
}

.code-wrapper {
  margin-top: 8px;
  padding: 16px;
  border-radius: 4px;
  white-space: pre;
  overflow: auto;
  background: var(--code-block-background);
  box-shadow: inset 0 0 0 var(--code-block-shadow-width) var(--code-block-shadow-color);
}

.code-wrapper code {
  color: #fff;
  background: none;
  padding: 0;
  color: #7fdbca;
}
